<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CRMONLINE" connectionString="AuthType=Office365;Username=samuele@samgate.onmicrosoft.com;Password=Milan2701;Url=https://samgate.crm4.dynamics.com;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>