<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyCRMServer"
			connectionString="AuthType=Office365; Username=danielesrl@danielesrl.onmicrosoft.com;Password=DarioDario88;Url=https://danielesrl.crm4.dynamics.com/main.aspx" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>