<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
	
	<connectionStrings>
		<add name="CRMOnline" connectionString="AuthType=Office365;Username=samuele@samgate.onmicrosoft.com;Password=Milan2701;Url=https://samgate.crm4.dynamics.com/"/>
	</connectionStrings>

</configuration>

